.container-fluid {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	
}
h2 {
	
}
h3 {
	
}
h4 {
	
}
h5 {
	
}
h6 {
	
}

table.small {
	font-size: 11px;
	
	th, td {
		padding: 5px 5px;
		border-right: 1px solid rgba(0,0,0,0.1);
		&:last-child {
			border-right: none;
		}
	}
	th {
		text-align: center;
	}
	td {
		text-align: center;
	}
}