<div class="container-fluid">
	<h1>Contratos Vigentes</h1>

	<table class="striped small">
		<thead>
			<tr>
				{{#each cabecalho}}
				<th>{{this}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each dados}}
			<tr>
				{{#each this}}
				<td>{{formata this}}</td>
				{{/each}}
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
